{% extends "common/base.html" %}
{% block title %}authorize{% endblock %}
{% block page_name %}authorize{% endblock %}
{% block content %}
{% if registered %}
<div id="message">
	<p>You are registered as {{registered}}</p>
</div>
{% endif %}
{% if direct %}
<p><a href="{{direct}}"><img src="{{STATIC_URL}}image/dropbox.jpg" alt="Dropbox Logo" title="Dropbox Authorization"/></a></p>
<p><a href="{{direct}}"><span>Click here</span></a><br/>to connect your dropbox account to this username.</p>
{% endif %}
{% endblock content %}